**/.history/
**/.metadata/.lock
**/.metadata/.log
**/.metadata/.plugins/
**/.metadata/version.ini
**/.recommenders/
**/CodeDB/
**/Debug/
**/Release/
**/VisualGDBCache/
**/bin/
**/build/
**/target/
*.TMP
*.lck
*.log
*.old
*.opendb
*.opensdf
*.sdf
*.suo
*.zip
*.o
*.dep
*.csv